@import "../bower_components/steel-bootstrap/src/_variables.scss";
@import "../bower_components/steel-bootstrap/src/_mixins.scss";

.cell {
	@include anim(box-shadow);
	background: $white;
	border-radius: $border-radius-small;
	border: 1px solid rgba($secondary, 0.12);
	box-shadow: $shadow-small;
}

.cell:hover {
	box-shadow: $shadow-large;
}
